<form [formGroup]="profileForm">
  <h3>Product profile</h3>

  <div>
    <label for="type">Type</label>
    <select id="type" name="type" formControlName="type">
      <option [value]="productTypes.FURNITURE">Furniture</option>
      <option [value]="productTypes.EQUIPMENT">Equipment</option>
      <option [value]="productTypes.STATIONARY">Stationary</option>
      <option [value]="productTypes.PART">Part</option>
    </select>
  </div>

  <div>
    <label for="available">Available</label>
    <input id="available" type="checkbox" formControlName="available" />
  </div>

  <div>
    <label for="backlog">Backlog</label>
    <input id="backlog" type="number" formControlName="backlog" min="0" />
  </div>
</form>
