<form [formGroup]="profileForm">
  <h2>Profile</h2>

  <div class="product-form__control">
    <label>Type</label>
    <select name="type" formControlName="type">
      <option [value]="productTypes.FURNITURE">Furniture</option>
      <option [value]="productTypes.EQUIPMENT">Equipment</option>
      <option [value]="productTypes.STATIONARY">Stationary</option>
      <option [value]="productTypes.PART">Part</option>
    </select>
  </div>

  <div class="product-form__control">
    <label>Available</label>
    <input type="checkbox" formControlName="available" />
  </div>

  <div class="product-form__control">
    <label>Backlog</label>
    <input type="number" formControlName="backlog" min="0" />
  </div>
</form>
