<button (click)="openEditCreateDialog('create')">+ New product</button>

@if (isFetching$ | async) {
  Loading...
} @else {
  <div class="overflow-auto">
    <table class="striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">SKU</th>
          <th scope="col">Name</th>
          <th scope="col">Cost</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (product of products$ | async; track $index) {
          <tr class="product-row" (click)="openDetailsDialog(product)">
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.sku }}</td>
            <td class="products-table__name">{{ product.name }}</td>
            <td>{{ product.cost | currency }}</td>
            <td class="product-row__actions">
              <button
                class="secondary outline"
                (click)="openDeletionDialog(product); $event.stopPropagation()"
              >
                Delelete
              </button>

              <button
                class="primary outline"
                (click)="
                  openEditCreateDialog('edit', product);
                  $event.stopPropagation()
                "
              >
                Edit
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
