.products-table {
  &__item {
    display: grid;
    grid-template-columns: 40px repeat(4, minmax(0, 1fr)) 80px auto;

    > div {
      border-top: 1px solid black;
      padding: 8px;
    }
  }

  &__name {
    grid-column: span 3 / span 3;
  }
}
