@if (isFetching$ | async) {
  Loading...
} @else {
  <div class="products-table">
    @for (product of products$ | async; track $index) {
      <div
        role="button"
        class="products-table__item"
        (click)="openDetailsDialog(product)"
      >
        <div>{{ $index + 1 }}</div>
        <div>{{ product.sku }}</div>
        <div class="products-table__name">{{ product.name }}</div>
        <div>{{ product.cost | currency }}</div>
        <div>
          <button
            (click)="openDeletionDialog(product); $event.stopPropagation()"
          >
            Del
          </button>
        </div>
      </div>
    }
  </div>
}
